

// .card-body{height:500px; overflow: hidden; padding-bottom:20px;}

// .dataTables_wrapper .dataTables_paginate .paginate_button{
//     color:#bfc8e2 !important;
//   }

  // .page-title-right{
  //   .btn{display: inline-block; margin-right:20px;}
  //   ol{display:inline-block;}
  //   }
    

  
// .sorting_asc{
//   .sort-icon{display:none !important; }
//   .desc-icon{display:none !important;}
// }
// .sorting_desc{
//    .sort-icon{display:none !important;}
//    .asc-icon{display:none !important;}
// }
// .sorting{
//    .desc-icon{display:none !important;}
//    .asc-icon{display:none !important;}
// }
// table{
//    th{background-image:none !important;}
// }