<div class="page-title-box d-flex align-items-center justify-content-between">
    <h4 class="mb-0 font-size-18">Data Exploration</h4>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-body">
                <ngx-skeleton-loader *ngIf="loaderdiv" count="7" [animation]="animation" [theme]="theme">
                </ngx-skeleton-loader>
                <div *ngIf="!loaderdiv">
                    <div class="float-left">
                        <h4 class="card-title mb-2 ">{{title}}</h4>
                        <p class="mb-3">{{displayselectedtitle}}</p>
                    </div>
                    <div class="float-right">
                        <ul ngbNav #customNav="ngbNav" [activeId]="1" class="nav-tabs nav-tabs-custom nav-justified">
                            <li [ngbNavItem]="1">
                                <a ngbNavLink (click)="displayselectedtitle='Continous'">
                                    <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                    <span class="d-none d-sm-block">Continous</span>
                                </a>
                                <ng-template ngbNavContent>
                                    <div class="nobordertable">
                                        <table style="width: 100%;" datatable [dtOptions]="dtOptions" class="table table-centered table-nowrap">
                                            <thead>
                                                <tr>
                                                    <th>No</th>
                                                    <th>Column</th>
                                                    <th>Data Type</th>
                                                    <th>Graph</th>
                                                    <th>Count</th>
                                                    <th>Missing</th>
                                                    <!-- <th>Unique Data</th> -->
                                                    <th>Min </th>
                                                    <th>Max </th>
                                                    <th>Mean </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of continuousexploredata;let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{item["Column Name"]}}</td>
                                                    <td>{{item["Datatype"]}}</td>
                                                    <td class="graph-td">
                                                        <a href="javascript:void(0);" class="expand-graph" (click)="centerModal(exlargeModal,item)"><i
                            class="mdi mdi-arrow-expand"></i></a>
                                                        <div class="col-graph">
                                                            <apx-chart class="apex-charts" dir="ltr" [series]="[{data:item['plotarray']}]" [chart]="columnlabelChart.chart" [plotOptions]="columnlabelChart.plotOptions" [yaxis]="columnlabelChart.yaxis" [title]="columnlabelChart.title" [stroke]="columnlabelChart.stroke"
                                                                [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis" [legend]="columnlabelChart.legend" [colors]="item['colorarray']" [fill]="columnlabelChart.fill" [grid]="columnlabelChart.grid">
                                                            </apx-chart>
                                                        </div>
                                                    </td>
                                                    <td>{{item["DataCount"]==null?'-':item["DataCount"]}}</td>
                                                    <td>{{item["Null Values"]==null?'-':item["Null Values"]}}</td>
                                                    <!-- <td>{{item["Unique Values"]==null?'-':item["Unique Values"]}}</td> -->
                                                    <td>{{item["Min Value"]==null?'-':item["Min Value"]}}</td>
                                                    <td>{{item["Max Value"]==null?'-':item["Max Value"]}}</td>
                                                    <td>{{item["Mean"]==null?'-':item["Mean"]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>

                                    <div class="note">
                                        <p>'*' means there are more than one values for the same occurence frequency.</p>
                                    </div>

                                </ng-template>
                            </li>
                            <li [ngbNavItem]="2">
                                <a ngbNavLink (click)="displayselectedtitle='Categorical'">
                                    <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                                    <span class="d-none d-sm-block">Categorical</span>
                                </a>
                                <ng-template ngbNavContent>
                                    <div class="nobordertable">
                                        <table style="width: 100%;" datatable [dtOptions]="dtOptions" class="table table-centered table-nowrap ">
                                            <thead>
                                                <tr class="thead-light">
                                                    <th>No</th>
                                                    <th>Column</th>
                                                    <th>Data Type</th>
                                                    <<<<<<< HEAD <th>Graph</th>
                                                        =======
                                                        <th>Value Distribution</th>
                                                        >>>>>>> 58d21c3618beee4afc7efc723e7706cee2eb1f70
                                                        <th>Count</th>
                                                        <th>Missing</th>
                                                        <th>Most Occuring</th>
                                                        <th>Least Occurring</th>
                                                        <th>Unique</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of categoricalexploredata;let i=index">
                                                    <td>{{i+1}}</td>
                                                    <td>{{item["Column Name"]}}</td>
                                                    <td>{{item["Datatype"]}}</td>
                                                    <td class="graph-td">
                                                        <a href="javascript:void(0);" class="expand-graph" (click)="centerModal(exlargeModal,item)"><i
                                                            class="mdi mdi-arrow-expand"></i></a>
                                                        <div class="col-graph">
                                                            <apx-chart class="apex-charts" dir="ltr" [series]="[{data:item['plotarray']}]" [chart]="columnlabelChart.chart" [plotOptions]="columnlabelChart.plotOptions" [yaxis]="columnlabelChart.yaxis" [title]="columnlabelChart.title" [stroke]="columnlabelChart.stroke"
                                                                [dataLabels]="columnlabelChart.dataLabels" [xaxis]="columnlabelChart.xaxis" [legend]="columnlabelChart.legend" [colors]="item['colorarray']" [fill]="columnlabelChart.fill" [grid]="columnlabelChart.grid">
                                                            </apx-chart>

                                                        </div>
                                                    </td>
                                                    <td>{{item["DataCount"]==null?'-':item["DataCount"]}}</td>
                                                    <td>{{item["Null Values"]==null?'-':item["Null Values"]}}</td>
                                                    <td>{{item["Most Frequent"]==null?'-':item["Most Frequent"]}}</td>
                                                    <td>{{item["Least Frequent"]==null?'-':item["Least Frequent"]}}</td>
                                                    <td>{{item["Unique Values"]==null?'-':item["Unique Values"]}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                    <div class="note">
                                        <p>'*' means there are more than one values for the same occurence frequency.</p>
                                    </div>
                                </ng-template>
                            </li>
                        </ul>

                    </div>
                    <div [ngbNavOutlet]="customNav"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #exlargeModal let-modal>
    <div class="modal-header">
        <h5 class="modal-title mt-0">{{modeltitle}}</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <div class="clearfix">
            <ul ngbNav #justifiednavnew="ngbNav" [activeId]="1" class="nav-pills nav-tabs-custom nav-justified nav">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <span class="font-size-14">Histogram</span>
                    </a>
                    <ng-template ngbNavContent>


                        <div class="graph-box {{classname}}">

                            <div class="col-one box" [hidden]="displayleftoutliers" *ngIf="modalobj['Left Outlier Values'][1].length>0">
                                <apx-chart class="apex-charts" dir="ltr" [series]="[{data:modalobj['Left Outlier Values'][1]}]" [chart]="columnlabelChartexpand.chart" [plotOptions]="columnlabelChartexpand.plotOptions" [yaxis]="columnlabelChartexpand.yaxis" [title]="columnlabelChartexpand.title"
                                    [stroke]="columnlabelChartexpand.stroke" [dataLabels]="columnlabelChartexpand.dataLabels" [xaxis]="{
                            categories: modalobj['Left Outlier Values'][0], title: {
                               text: 'Left Outlier'
                            }
                          }" [yaxis]="columnlabelChartexpand.yaxis" [legend]="columnlabelChartexpand.legend" [colors]="['#f74242']" [fill]="columnlabelChartexpand.fill" [grid]="columnlabelChartexpand.grid">
                                </apx-chart>
                            </div>
                            <div class="col-two box">
                                <a class="font-size-22 left" (click)="displayoutliers('left')" *ngIf="modalobj['Left Outlier Values'][1].length>0" href="javascript:void(0);"><i
                                        class="bx bx-left-arrow-circle"></i></a>
                                <apx-chart class="apex-charts" dir="ltr" [series]="columnlabelChartexpand.series" [chart]="columnlabelChartexpand.chart" [plotOptions]="columnlabelChartexpand.plotOptions" [yaxis]="columnlabelChartexpand.yaxis" [title]="columnlabelChartexpand.title" [stroke]="columnlabelChartexpand.stroke"
                                    [dataLabels]="columnlabelChartexpand.dataLabels" [xaxis]="columnlabelChartexpand.xaxis" [yaxis]="columnlabelChartexpand.yaxis" [legend]="columnlabelChartexpand.legend" [colors]="columnlabelChartexpand.colors" [fill]="columnlabelChartexpand.fill"
                                    [grid]="columnlabelChartexpand.grid">
                                </apx-chart>
                                <a class="font-size-22 right" (click)="displayoutliers('right')" *ngIf="modalobj['Right Outlier Values'][1].length>0" href="javascript:void(0);"><i
                                        class="bx bx-right-arrow-circle"></i></a>
                            </div>
                            <div class="col-three box" [hidden]="displayrightoutliers" *ngIf="modalobj['Right Outlier Values'][1].length>0">
                                <apx-chart class="apex-charts" dir="ltr" [series]="[{data:modalobj['Right Outlier Values'][1]}]" [chart]="columnlabelChartexpand.chart" [plotOptions]="columnlabelChartexpand.plotOptions" [yaxis]="columnlabelChartexpand.yaxis" [title]="columnlabelChartexpand.title"
                                    [stroke]="columnlabelChartexpand.stroke" [dataLabels]="columnlabelChartexpand.dataLabels" [xaxis]="{
                            categories: modalobj['Right Outlier Values'][0], title: {
                               text: 'Right Outlier'
                            }
                          }" [yaxis]="columnlabelChartexpand.yaxis" [legend]="columnlabelChartexpand.legend" [colors]="['#f74242']" [fill]="columnlabelChartexpand.fill" [grid]="columnlabelChartexpand.grid">
                                </apx-chart>
                            </div>

                        </div>






                    </ng-template>
                </li>
                <li [ngbNavItem]="2" *ngIf="!hideboxplot">
                    <a ngbNavLink>
                        <span class="font-size-14">Box plot</span>
                    </a>
                    <ng-template ngbNavContent>
                        <div [chart]="chart" id="highchhart"></div>
                        <!-- <apx-chart class="apex-charts" dir="ltr" [series]="boxplotChartexpand.series" [chart]="boxplotChartexpand.chart" [title]="boxplotChartexpand.title" [xaxis]="boxplotChartexpand.xaxis" [yaxis]="boxplotChartexpand.yaxis">
                            </apx-chart> -->
                    </ng-template>
                </li>

            </ul>
        </div>

        <div [ngbNavOutlet]="justifiednavnew"></div>

    </div>

</ng-template>