<ul ngbNav #justifiednavnew="ngbNav" [activeId]="1" class="nav-pills nav-tabs-custom nav-justified nav">
    <li [ngbNavItem]="1">
        <a ngbNavLink>
            <span class="font-size-12">Learning Curves</span>
        </a>
        <ng-template ngbNavContent>
            <app-modeling-learning-curve [experiment_id]="experiment_id"></app-modeling-learning-curve>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink>
            <span class="font-size-12">Feature Importance</span>
        </a>
        <ng-template ngbNavContent>
            <app-modeling-feature-importance [experiment_id]="experiment_id"></app-modeling-feature-importance>
        </ng-template>
    </li>
    <li [ngbNavItem]="3">
        <a ngbNavLink>
            <span class="font-size-12">Performance Metrics</span>
        </a>
        <ng-template ngbNavContent>
            <app-modeling-performance-matrics [experiment_id]="experiment_id"></app-modeling-performance-matrics>
        </ng-template>
    </li>

    <li [ngbNavItem]="4">
        <a ngbNavLink>
            <span class="font-size-12">Model Summary</span>
        </a>
        <ng-template ngbNavContent>
            <app-modeling-modal-summary [experiment_id]="experiment_id"></app-modeling-modal-summary>
        </ng-template>
    </li>
    <li [ngbNavItem]="5">
        <a ngbNavLink>
            <span class="font-size-12">Actual Vs Prediction</span>
        </a>
        <ng-template ngbNavContent>
            <app-modeling-actual-prediction [model_type]="model_type" [experiment_id]="experiment_id"></app-modeling-actual-prediction>
        </ng-template>
    </li>
    <!-- *ngIf="model_type=='Classification'" -->
    <li [ngbNavItem]="6">
        <a ngbNavLink>
            <span class="font-size-12">Confusion Metrics</span>
        </a>
        <ng-template ngbNavContent>
            <app-modeling-confusion-matrics [experiment_id]="experiment_id"></app-modeling-confusion-matrics>
        </ng-template>
    </li>
</ul>
<div [ngbNavOutlet]="justifiednavnew"></div>