<div class="row">
    <div class="col-lg-12">
        <div class="card table-card">
            <div class="card-body">
                <input type="hidden" id="datatablepagelength" value="10">
                <ngx-skeleton-loader *ngIf="isloaderdiv" count="7" [animation]="animation" [theme]="theme">
                </ngx-skeleton-loader>
                <div class="main-datatable" [hidden]="isloaderdiv">
                    <a href="javascript:void(0)" (click)="displayfilter()" id="filter-btn" class="filter-btn"><i
                            id="filtericon" class="dripicons-experiment"></i></a>

                    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width: 100%;" class="table table-centered table-nowrap">
                        <thead class="thead-light">
                            <tr>
                                <th><label>Project</label>
                                    <img class="sort-icon" src="sort_both.png">
                                    <img class="desc-icon" src="sort_desc.png">
                                    <img class="asc-icon" src="sort_asc.png">
                                    <div class="filter-box" [hidden]="filter">
                                        <input class="form-control filter" value="" id="input_0" type="text" name="search-project-name" />
                                    </div>
                                </th>
                                <th><label>Datasets</label>
                                    <img class="sort-icon" src="sort_both.png">
                                    <img class="desc-icon" src="sort_desc.png">
                                    <img class="asc-icon" src="sort_asc.png">
                                    <div class="filter-box" [hidden]="filter">
                                        <input class="form-control filter" type="text" id="input_1" name="search-dataset-name" />
                                    </div>
                                </th>
                                <th class="text-center"><label>Models</label>
                                    <img class="sort-icon" src="sort_both.png">
                                    <img class="desc-icon" src="sort_desc.png">
                                    <img class="asc-icon" src="sort_asc.png">
                                    <div class="filter-box" [hidden]="filter">
                                        <select class="form-control filter" id="input_2" name="search-model-status">
                                            <option value="">None</option>
                                            <option value="Success">Success</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Failed">Failed</option>
                                            <option value="InProgress">In Progress</option>
                                        </select>
                                    </div>
                                </th>
                                <th class="text-center"><label>Deployment</label>
                                    <img class="sort-icon" src="sort_both.png">
                                    <img class="desc-icon" src="sort_desc.png">
                                    <img class="asc-icon" src="sort_asc.png">
                                    <div class="filter-box" [hidden]="filter">
                                        <select class="form-control filter" id="input_3" name="search-deployment-status">
                                            <option value="">None</option>
                                            <option value="Pending">Pending</option>
                                            <option value="Active">Active</option>
                                            <option value="Suspended">Suspended</option>
                                        </select>
                                    </div>
                                </th>
                                <th><label>Created</label>
                                    <img class="sort-icon" src="sort_both.png">
                                    <img class="desc-icon" src="sort_desc.png">
                                    <img class="asc-icon" src="sort_asc.png">
                                    <div class="filter-box" [hidden]="filter"></div>
                                </th>
                                <th class="text-center">
                                    <label>Actions</label>
                                    <div class="filter-box" [hidden]="filter"></div>
                                </th>

                            </tr>

                        </thead>
                        <!-- 
                        <thead>
                            <tr class="thead-light" [hidden]="filter">
                                <td>
                                    <input class="form-control filter" value="" id="input_0" type="text" name="search-project-name" />
                                </td>
                                <td>
                                    <input class="form-control filter" type="text" id="input_1" name="search-dataset-name" />
                                </td>
                                <td>
                                    <select class="form-control filter" id="input_2" name="search-model-status">
                                    <option value="">None</option>
                                    <option value="Success">Success</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Failed">Failed</option>
                                    <option value="InProgress">In Progress</option>
                                </select>
                                        </td>
                                        <td>
                                            <select class="form-control filter" id="input_3" name="search-deployment-status">
                                    <option value="">None</option>
                                    <option value="Pending">Pending</option>
                                    <option value="Active">Active</option>
                                    <option value="Suspended">Suspended</option>
                                </select>
                                        </td>
                                        <td></td>
                                        <td></td>
                            </tr>
                        </thead> -->
                        <tbody class="tbody">

                            <tr *ngFor="let data of transactions">
                                <td title="{{data.project_name}}">{{data.project_name}}</td>
                                <td>
                                    <span style="display:none;">{{data.dataset_status}}</span> {{data.dataset_name}}
                                </td>
                                <td class="status-icon" class="text-center">
                                    <span style="display:none;" *ngIf="data.model_status==-1">Pending</span>
                                    <span style="display:none;" *ngIf="data.model_status==0">InProgress</span>
                                    <span style="display:none;" *ngIf="data.model_status==1">Success</span>
                                    <span style="display:none;" *ngIf="data.model_status==2">Failed</span>

                                    <a [routerLink]="['/modeling']" [ngClass]="{ 'disabled': !data.split_status }" class="font-size-20 modeling" [state]="{dataset_id: data.dataset_id ,project_id:data.project_id}">
                                        <i *ngIf="data.model_status==-1" style="color: #a6b0cf;" title="Pending" class="dripicons-browser-upload"></i>
                                        <i *ngIf="data.model_status==0" style="color: #34c38f;" title="InProgress" class="dripicons-browser-upload"></i>
                                        <i *ngIf="data.model_status==1" style="color: #3e6aec;" title="Success" class="dripicons-browser-upload"></i>
                                        <i *ngIf="data.model_status==2" style="color: #f14646;" title="Failed" class="dripicons-browser-upload"></i>
                                    </a>
                                </td>
                                <td class="text-center">
                                    <span style="display:none;" *ngIf="data.deployment_status==-1">Pending</span>
                                    <span style="display:none;" *ngIf="data.deployment_status==0">Active</span>
                                    <span style="display:none;" *ngIf="data.deployment_status==1">Suspended</span>
                                    <span *ngIf="data.deployment_status==-1" class="badge badge-pill badge-pill badge-soft-dark ml-1 font-size-12">Pending</span>
                                    <span *ngIf="data.deployment_status==1" class="badge badge-pill badge-soft-danger ml-1 font-size-12">Suspended</span>
                                    <span *ngIf="data.deployment_status==0" class="badge badge-pill badge-soft-success ml-1 font-size-12">Active</span>
                                </td>
                                <td>{{data.created_on | date}}</td>
                                <td class="text-center icon-box">
                                    <a href="javascript:void(0);" title="Data Detail" id="detail_{{data.project_id}}" [routerLink]="['/datadetail']" [state]="{dataset_id: data.dataset_id ,project_id:data.project_id,dataset_name:data.dataset_name,project_name:data.project_name,navigate_to:'/project',schema_id:data.schema_id}">
                                        <i id="detailicon" class=" bx bx-file"></i></a>
                                    <a href="javascript:void(0);" [routerLink]="['/schema']" id="schema_{{data.project_id}}" title="Schema Mapping" [state]="{dataset_id: data.dataset_id ,project_id:data.project_id,dataset_name:data.dataset_name,project_name:data.project_name,navigate_to:'/project',schema_id:data.schema_id}">
                                        <i id="schemaicon" class="bx bx-message-square-add"></i></a>
                                    <a href="javascript:void(0);" [routerLink]="['/exploration']" id="schema_{{data.project_id}}" title="Data Exploration" [state]="{dataset_id: data.dataset_id ,project_id:data.project_id,dataset_name:data.dataset_name,project_name:data.project_name,navigate_to:'/project',navigate:'explore',schema_id:data.schema_id}">
                                        <i id="exploreicon" class="bx bx-screenshot"></i></a>
                                    <a href="javascript:void(0);" class="sa-warning" id="delete_{{data.project_id}}" title="Delete Project" (click)="confirm(data.project_id)"> <i id="deleteicon" class=" bx bx-trash"></i></a>

                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>