.status-icon {
    font-size: 20px;
    font-weight: 700;
}

.sa-warning {
    color: #a6b0cf !important;
}

.sorting_asc {
    .sort-icon {
        display: none;
    }
    .desc-icon {
        display: none;
    }
}

.sorting_desc {
    .sort-icon {
        display: none;
    }
    .asc-icon {
        display: none;
    }
}

.sorting {
    .desc-icon {
        display: none;
    }
    .asc-icon {
        display: none;
    }
}

table {
    th {
        background-image: none;
    }
}

.icon-box {
    a {
        margin-right: 7px;
        font-size: 20px;
        display: inline-block;
    }
}

a.disabled {
    pointer-events: none;
    cursor: default;
}
a.disabled {
    pointer-events: none;
    cursor: default;
}