.custom-control-input[_ngcontent-vhi-c178]:checked ~ .custom-control-label[_ngcontent-vhi-c178]::before {
    color: #fff;
    border-color: #34c38f !important;
    background-color: #34c38f !important;
}