.datadetail-datatable {
    th:first-child {
        display: none;
    }
    td:first-child {
        display: none;
    }
    td {
        max-width: 400px;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}

.page-title-box {
    span {
        position: absolute;
        top: 20px;
    }
}