

// .card-body{height:500px; overflow: hidden; padding-bottom:20px;}

// .dataTables_wrapper .dataTables_paginate .paginate_button{
//     color:#bfc8e2 !important;
//   }

  // .page-title-right{
  //   .btn{display: inline-block; margin-right:20px;}
  //   ol{display:inline-block;}
  //   }
    