<div class="container-fluid">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Data Detail</h4>
                <div class="page-title-right">
                    <button type="button" (click)="mapping()" class="btn btn-success">Schema Mapping</button>
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item active">Welcome to Data Detail</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="card table-card">
                <div class="card-body">
                    <h4 class="card-title mb-4">{{title}}</h4>
                    
                    <div class="main-datatable">
                        <a href="javascript:void()" class="filter-btn" id="filter" (click)="displayfilter()"><i class="dripicons-experiment"></i></a>
                    
                      <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table-responsive row-border hover">
                        <thead class="thead-light">
                          <tr>
                            <th *ngFor="let key of finaldisplaykey">{{key}}
                                <input class="form-control filter" type="text" [hidden]="filter"
                                placeholder="{{key}}" name="search-{{key}}" />
                        
                    
                            </th>
                          </tr>
                        </thead>
                        <tbody class="tbody">
                          <tr *ngFor="let data of finaldisplayvalue">
                            <td *ngFor="let i of data">
                              {{i}}
                            </td>
                            
                          </tr>
                        </tbody>
                      </table>
                    
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>