<div class="page-title-box d-flex align-items-center justify-content-between">
    <h4 class="mb-0 font-size-18">Schema Mapping</h4>

</div>
<div class="row schema-mapping">
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-body">
                <h4 class="card-title mb-4">{{title}}</h4>
                <table class="table table-centered table-nowrap">
                    <thead class="thead-light">
                        <tr>
                            <th>
                                Column Name
                            </th>
                            <th>
                                Data Type
                            </th>
                            <th>Column Attributes</th>
                            <th>Change Column Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let data of datasetSchema;let i= index" id="tr_{{i}}" class="{{data.column_attribute}}-selected">
                            <td>
                                {{data.column_name}}
                            </td>
                            <td>
                                <!-- <select class="form-control" >
                    <option value="">Select Option</option>
                    <option *ngFor="let item of datatypeList" value="{{item}}">{{item}}</option>
                </select> -->
                                {{data.data_type}}

                            </td>
                            <td>
                                <select class="form-control selectattr" id="selectattr_{{i}}" [(ngModel)]="data.column_attribute" (change)="changeattrinute($event.target.value,i)">
                                    <option value="">Select Option</option>
                                    <option *ngFor="let item of columnattrList" value="{{item}}">{{item}}</option>
                                </select>
                            </td>
                            <td id="td_{{i}}">
                                <input class="form-control columnname" type="text" id="columnname_{{i}}" [value]="data.change_column_name"
                                    (change)="checksame(data.column_name,$event.target.value,i)" maxlength="100">
                                <div class="invalid-feedback">
                                    <span class="text-red">Change column name must be different from column name</span>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>
                <div class="button-items text-center">
                    <button type="button" class="btn btn-secondary" (click)="reset()">Reset</button>
                    <button type="button" class="btn btn-success" (click)="save()">Submit</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="loader-box" [hidden]="!loaderdiv">
    <div class="inner-loader-box">
    <div class="spinner-border text-warning m-1" role="status">
        <span class="sr-only">Loading...</span>
    
      </div>
      <p>Loading...</p>
    </div>
    </div>