.module-main {
    position: relative;
}

.tab-menu {
    position: absolute;
    right: 15px;
    top: -12px;
}

.target-selected {
    background: #4c546c;
    td:first-child {
        color: #fff;
    }
}

.nav-pills .nav-link {
    border-radius: 0 !important;
    padding: 0.5rem 0.8rem !important;
    border-right: 1px solid #32394e;
}

.nav {
    border: 1px solid #32394e;
}

table {
    tr {
        td {
            border-top: 1px solid #32394e !important;
        }
    }
}

.invalid-feedback {
    display: none;
}

td.errorstatus {
    input {
        border: 1px solid #f46a6a !important;
    }
    .invalid-feedback {
        display: block;
    }
}

.schemamapping-row {
    height: calc(100vh - 400px);
}

.headertable {
    margin-bottom: 0px !important;
}

.button-items {
    margin-top: 15px;
}

// .schemamappingtable {
//     thead {
//         tr {
//             th {
//                 position: sticky !important;
//             }
//         }
//     }
//     tbody {
//         overflow-y: scroll;
//     }
// }
.dataTables_wrapper.no-footer .dataTables_scrollBody {
    border-bottom: none !important;
}