.upload-btn{margin-top:35px;}
.custom-checkbox{margin-top:43px;}

.ng-dirty.ng-invalid,.ng-touched.ng-invalid{
    border-color: #f46a6a !important;
}

.invalid-feedback{
    display: block !important;
}

#sa-warning{
    color: white !important;
}