<div class="">
    <a href="javascript:void()" (click)="displayfilter()"><i class="dripicons-experiment"></i></a>

    <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" style="width: 100%;" class="table-responsive row-border hover">
        <thead class="thead-light">
            <tr>
                <th *ngFor="let key of finaldisplaykey">{{key}}
                    <input class="form-control filter" type="text" [hidden]="filter" placeholder="{{key}}" name="search-{{key}}" />


                </th>
            </tr>
        </thead>
        <tbody class="tbody">
            <tr *ngFor="let data of finaldisplayvalue">
                <td *ngFor="let i of data">
                    {{i}}
                </td>

            </tr>
        </tbody>
    </table>


</div>
<!-- end table -->