<a class="btn btn-success modeling-btn" [routerLink]="['/modeling']" style="right: 290px" [state]="{selectproject:false}"> Modeling</a>
<a class="btn btn-success modeling-btn" [routerLink]="['/modeling']" [state]="{dataset_id: dataset_id ,project_id:project_id,selectproject:true}">Modeling</a>

<ul ngbNav #justifiednavdatacleanup="ngbNav" [activeId]="1" class="nav-tabs nav cleanup-tabs">
    <li [ngbNavItem]="1">
        <a ngbNavLink title="Data Cleanup">
            <span class="">Cleaning</span>

        </a>
        <ng-template ngbNavContent>
            <ngx-skeleton-loader *ngIf="loaderdiv" count="7" [animation]="animation" [theme]="theme">
            </ngx-skeleton-loader>
            <div class="left-box" [hidden]="loaderdiv">
                <!-- <perfect-scrollbar style="height: 490px;"> -->
                <table class="table datadetailtable" datatable [dtOptions]="dtOptions" *ngIf="columnList">
                    <thead>
                        <tr>
                            <th>Column</th>
                            <th>Handling</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- class="active-row" -->
                        <tr *ngFor="let item of columnList;let i=index">
                            <td>
                                <div class="custom-control custom-checkbox mb-3">
                                    <input [disabled]="item.is_missing=='False' && activeId==1" type="checkbox" class="custom-control-input checkbox" value="{{item.column_id}}" (change)="selectColumn($event)" data-value="{{item.column_id}}" id="customCheck_{{i}}">
                                    <label class="custom-control-label" for="customCheck_{{i}}">{{item.col_name}}</label>
                                </div>
                            </td>
                            <td class="handlinmg-list" id="handling_{{item.column_id}}">
                                <div *ngFor="let tabs of operationList">
                                    <div class="handling" id="handlingitem_{{item.column_id}}_{{handles}}" *ngFor="let handles of item['handling_'+tabs.tab_id];let j=index">
                                        <p>{{item['handlingname_'+tabs.tab_id][j]}}&nbsp;
                                            <a href="javascript:void(0);" id="trash_{{handles}}"> <i class=" bx bx-trash" (click)="removeHandling(item['handlingtarget_'+tabs.tab_id][j],item.column_id);"></i></a>
                                        </p>
                                    </div>
                                </div>


                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- </perfect-scrollbar> -->
            </div>
            <div class="right-box" [hidden]="loaderdiv">
                <div class="right-inner">
                    <ul ngbNav #justifiednavmissing="ngbNav" [activeId]="1" class="nav-tabs nav noise-tabs">
                        <li [ngbNavItem]="i+1" (click)="activeId=item.tab_id;tabchange(item.tab_id)" *ngFor="let item of operationList;let i=index">
                            <a ngbNavLink title="{{item.tab_name}}">
                                <span>{{item.tab_name}}</span>
                            </a>
                            <ng-template ngbNavContent>
                                <div *ngFor="let operations of item.operation_classes;let k=index">
                                    <h4 class="mb-3">{{operations.title}}</h4>
                                    <div class="row">
                                        <div class="col-md-4" *ngFor="let childitem of operations.operations;let j=index" [ngClass]="{'displaychilditem':operationIds.indexOf(childitem.operation_id)!=-1}">
                                            <div class="custom-control custom-radio mb-3 ">
                                                <input type="radio" id="customRadio_{{k}}_{{j}}" name="customRadio_{{k}}" value="{{childitem.operation_id}}" title="{{childitem.name}}" data-waschecked="false" [disabled]="operationIds.indexOf(childitem.operation_id)==-1" (click)="selectHandling($event,childitem.operation_id)"
                                                    class="custom-control-input radiobutton">
                                                <label class="custom-control-label" for="customRadio_{{k}}_{{j}}" id="radiolabel_{{k}}_{{j}}">{{childitem.name}}</label>
                                            </div>



                                        </div>


                                    </div>
                                </div>

                            </ng-template>
                        </li>
                        <!-- <li [ngbNavItem]="2">
                            <a ngbNavLink title="Data Cleanup">
                                <span class="">Transformation</span>

                            </a>
                            <ng-template ngbNavContent>

                                <h4 class="mb-3">Remove Noise By</h4>
                                <div class="row mb-4">
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="regression" name="noise" class="custom-control-input">
                                            <label class="custom-control-label" for="regression">Regression</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="binning" name="noise" class="custom-control-input">
                                            <label class="custom-control-label" for="binning">Binning</label>
                                        </div>
                                    </div>
                                </div>

                                <h4 class="mb-3">Select Encode Type</h4>
                                <div class="row mb-4">
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="hot-encoding" name="encode" class="custom-control-input">
                                            <label class="custom-control-label" for="hot-encoding">One hot
                                                                    encoding</label>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="custom-control custom-radio">
                                            <input type="radio" id="label" name="encode" class="custom-control-input">
                                            <label class="custom-control-label" for="label">Label
                                                                    encoding</label>
                                        </div>
                                    </div>

                                </div>

                                <div class="form-group">
                                    <div class="custom-control custom-checkbox mb-3">
                                        <input type="checkbox" class="custom-control-input" id="duplicate">
                                        <label class="custom-control-label" for="duplicate">Remove duplicate
                                                                data</label>
                                    </div>

                                </div>

                                <div class="button-items text-center">
                                    <button type="button" class="btn btn-secondary">Reset</button>
                                    <div class="btn-group me-1 dropdown" ngbDropdown>
                                        <button type="button" class="btn btn-success">Save</button>
                                        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" ngbDropdownToggle>
                                                              <i class="mdi mdi-chevron-down"></i>
                                                            </button>
                                        <div class="dropdown-menu" ngbDropdownMenu>
                                            <a class="dropdown-item" href="javascript: void(0);">Save As</a>

                                        </div>
                                    </div>

                                </div>
                            </ng-template>
                        </li> -->
                    </ul>
                    <div [ngbNavOutlet]="justifiednavmissing"></div>
                </div>
            </div>
        </ng-template>
    </li>
    <li [ngbNavItem]="2">
        <a ngbNavLink title="Rescaling">
            <span class="">Scale & Split</span>

        </a>
        <ng-template ngbNavContent>
            <div class="row justify-content-md-left">
                <div class="col-md-4">
                    <h4 class="mb-3 mt-3">Scaling</h4>


                    <div class="row mb-4">

                        <div class="col-md-4 mb-3" *ngFor="let item of scaleOperations">
                            <div class="custom-control custom-radio">
                                <input type="radio" id="{{item.id}}" name="rescaling" class="custom-control-input">
                                <label class="custom-control-label" for="min-max">{{item.name}}</label>
                            </div>
                        </div>


                    </div>
                </div>
                <div class="col-md-6">

                    <h4 class="font-size-18 mt-3 mb-3">Split Dataset</h4>
                    <div class="form-group">
                        <label>Select split method</label>
                        <select class="form-control" (change)="splitmethodselection=$event.target.value">
                            <option value="crossvalidation">Cross Validation</option>
                            <option value="trainvalidation">Train - Validation - Holdout</option>
                        </select>
                    </div>
                    <div class="cross-validation" *ngIf="splitmethodselection=='crossvalidation'">
                        <div class="form-group">
                            <label>Number of cross validation(CV) folds</label>
                            <input type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label>Holdout perecentage</label>
                            <input type="range" class="custom-range" min="0" max="100" id="customRange2">
                        </div>
                        <div class="from-group">
                            <label>Random status</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    <div class="tr-v-h" *ngIf="splitmethodselection=='trainvalidation'">
                        <div class="form-group">
                            <label>Split ratio</label>
                            <select class="form-control">
                                <option>60% - 20% - 20%</option>
                                <option>70% - 15% - 15%</option>
                                <option>80% - 10% - 10%</option>
                                <option>90% - 5% - 5%</option>
                                <option>95% - 5% - 0%</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Random status</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>

                </div>


            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="text-center mb-4 mt-4">
                        <button class="btn btn-success" type="submit">Scale & Split</button>
                    </div>
                </div>
            </div>
        </ng-template>
    </li>
</ul>
<div class="row">
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-body">
                <h4 class="card-title mb-4">{{title}}</h4>
                <div [ngbNavOutlet]="justifiednavdatacleanup"></div>
            </div>
        </div>
    </div>
</div>