<div class="row">
    <div class="col-md-12">
        <h4>Actual vs Prediction</h4>
        <ngx-skeleton-loader *ngIf="!isChart" count="7" [animation]="animation" [theme]="theme">
        </ngx-skeleton-loader>
        <div id="chart-line" *ngIf="isChart && model_type=='Regression'">
            <apx-chart [series]="linechart.series" [chart]="linechart.chart" [xaxis]="linechart.xaxis" [dataLabels]="linechart.dataLabels" [colors]="linechart.colors" [fill]="linechart.fill" [markers]="linechart.markers" [stroke]="linechart.stroke"></apx-chart>
        </div>
        <div id="chart-line" *ngIf="isChart && model_type=='Classification'">

            <apx-chart class="apex-charts" dir="ltr" [series]="lineColumAreaChart.series" [chart]="lineColumAreaChart.chart" [tooltip]="lineColumAreaChart.tooltip" [yaxis]="lineColumAreaChart.yaxis" [legend]="lineColumAreaChart.legend" [plotOptions]="lineColumAreaChart.plotOptions"
                [grid]="lineColumAreaChart.grid" [stroke]="lineColumAreaChart.stroke" [xaxis]="lineColumAreaChart.xaxis" [colors]="lineColumAreaChart.colors" [fill]="lineColumAreaChart.fill" [labels]="lineColumAreaChart.labels" [markers]="lineColumAreaChart.markers">
            </apx-chart>
        </div>


    </div>

</div>