<!-- ========== Left Sidebar Start ========== -->

<ng-template #contentTemplate>

    <!--- Sidemenu -->
    <div id="sidebar-menu">
        <!-- Left Menu Start -->
        <ul class="metismenu list-unstyled" id="side-menu" #sideMenu>
            <ng-container *ngFor="let item of menuItems">
                <li class="menu-title" *ngIf="item.isTitle=='true'">{{ item.label | translate }}</li>


                <li *ngIf="!item.isTitle && !item.isLayout">
                    <a *ngIf="hasItems(item)" id="menu_{{item.id}}" href="javascript:void(0);" class="is-parent" [ngClass]="{'has-arrow': !item.badge, 'has-dropdown': item.badge}">
                        <i class="mdi {{item.icon}}" *ngIf="item.icon"></i>
                        <span> {{ item.label | translate }}</span>
                        <span class="badge badge-pill badge-{{item.badge.variant}} float-right" *ngIf="item.badge">{{item.badge.text | translate}}</span>
                    </a>

                    <a [routerLink]="item.link" *ngIf="!hasItems(item)" id="menu_{{item.id}}" class="side-nav-link-ref" [state]="{isFromMenu:true}" routerLinkActive="active">
                        <i class="mdi {{ item.icon }}" *ngIf="item.icon"></i>
                        <span> {{  item.label  | translate }}</span>
                        <span class="badge badge-pill badge-{{item.badge.variant}} float-right" *ngIf="item.badge">{{item.badge.text | translate}}</span>
                    </a>

                    <ul *ngIf="hasItems(item)" class="sub-menu" aria-expanded="false">
                        <li *ngFor="let subitem of item.subItems">
                            <a [routerLink]="subitem.link" id="menu_{{subitem.id}}" [state]="{isFromMenu:true}" *ngIf="!hasItems(subitem)" class="side-nav-link-ref" [attr.data-parent]="subitem.parentId" routerLinkActive="active">
                  {{ subitem.label | translate}}
                </a>
                            <a *ngIf="hasItems(subitem)" id="menu_{{subitem.id}}" class="side-nav-link-a-ref has-arrow" href="javascript:void(0);" [attr.data-parent]="subitem.parentId">
                  {{ subitem.label | translate}}
                </a>
                            <ul *ngIf="hasItems(subitem)" class="sub-menu mm-collapse" aria-expanded="false">
                                <li *ngFor="let subSubitem of subitem.subItems">
                                    <a [attr.data-parent]="subSubitem.parentId" id="menu_{{subSubitem.id}}" [state]="{isFromMenu:true}" [routerLink]="subSubitem.link" routerLinkActive="active" class="side-nav-link-ref">
                      {{ subSubitem.label | translate }}
                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ng-container>
        </ul>
    </div>
</ng-template>
<!-- Sidebar -->

<div class="vertical-menu">
    <perfect-scrollbar [config]="configData">
        <div *ngIf="!isCondensed">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
        <div *ngIf="isCondensed">
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
        </div>
    </perfect-scrollbar>
</div>
<!-- Left Sidebar End -->