<div class="row">
    <div class="col-12">
        <div class="page-title-box d-flex align-items-center justify-content-between">
            <h4 class="mb-0 font-size-18">Schema Mapping</h4>
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item active">Welcome to Schema Mapping</li>
                </ol>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="card table-card">
            <div class="card-body">
                <h4 class="card-title mb-4">Display Dataset Name</h4>
                <table class="table table-centered table-nowrap">
                    <thead>
                        <tr>
                            <th>
                                Column Name
                            </th>
                            <th>
                                Data Type
                            </th>
                            <th>Column Attributes</th>
                            <th>Change Column Name</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                Customer_Id
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Data type</option>
                                    <option>Numeric</option>
                                    <option>Charactor</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Select Option</option>
                                    <option>Target Column</option>
                                    <option>Ignor</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="example-text-input">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer_Id
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Data type</option>
                                    <option>Numeric</option>
                                    <option>Charactor</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Select Option</option>
                                    <option>Target Column</option>
                                    <option>Ignor</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="example-text-input">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                Customer_Id
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Data type</option>
                                    <option>Numeric</option>
                                    <option>Charactor</option>
                                </select>
                            </td>
                            <td>
                                <select class="form-control">
                                    <option>Select Option</option>
                                    <option>Target Column</option>
                                    <option>Ignor</option>
                                </select>
                            </td>
                            <td>
                                <input class="form-control" type="text" id="example-text-input">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="button-items text-center">
                    <button type="button" class="btn btn-secondary">Reset</button>
                    <button type="button" class="btn btn-success">Submit</button>
                    </div>
            </div>
        </div>
    </div>
</div>