<div class="module-main">
        
    <div class="tab-menu" [hidden]="displaytitle">
        <ul ngbNav #justifiednav="ngbNav" [activeId]="1" class="nav-pills nav-justified">
          <li [ngbNavItem]="1">
            <a ngbNavLink title="Data Detail">
                <span class="font-size-18"><i class="bx bx-spreadsheet"></i></span>
              <!-- <span class="">Data Detail</span> -->
              <!-- <span class="">List View</span> -->
            </a>
            <ng-template ngbNavContent>
                <app-list-datadetail [title]="title"  [dataset_id]="dataset_id" [navigate_to]="navigate_to" [displaytitle]="displaytitle"></app-list-datadetail>
                
            </ng-template>
          </li>
          <li [ngbNavItem]="2">
            <a ngbNavLink title="Schema Mapping">
                <span class="font-size-18"><i class="bx bx-message-square-add"></i></span>
              <!-- <span class="">Schema Mapping</span> -->
              <!-- <span class="">Grid View</span> -->
            </a>
            <ng-template ngbNavContent>
                
                <app-create-schema-mapping  [dataset_id]="dataset_id" [project_id]="project_id" [title]="title"></app-create-schema-mapping>
            </ng-template>
          </li>
          <li [ngbNavItem]="3">
            <a ngbNavLink title="Data Exploration">
                <span class="font-size-18"><i class="bx bx-screenshot"></i></span>
              <!-- <span class="">Data Exploration</span> -->
              <!-- <span class="">Grid View</span> -->
            </a>
            <ng-template ngbNavContent>
                
              <app-data-exploration [dataset_id]="dataset_id" [project_id]="project_id" [title]="title"></app-data-exploration>
            </ng-template>
          </li>
          <li [ngbNavItem]="4">
            <a ngbNavLink title="Visualization">
                <span class="font-size-18"><i class="bx bx-bar-chart"></i></span>
              <!-- <span class="">visualization</span> -->
              <!-- <span class="">Grid View</span> -->
            </a>
            <ng-template ngbNavContent>
               <h4>4</h4>
                
            </ng-template>
          </li>
          <li [ngbNavItem]="5">
            <a ngbNavLink title="Data Cleanup">
                <span class="font-size-18"><i class="bx bx-brush"></i></span>
              <!-- <span class="">Data cleanup</span> -->
              <!-- <span class="">Grid View</span> -->
            </a>
            <ng-template ngbNavContent>
         <h4>5</h4>
                
            </ng-template>
          </li>

        </ul>
      </div>

    

<div [ngbNavOutlet]="justifiednav"></div>
</div>

