/* You can add global styles to this file, and also import other style files */

.modal-holder {
    animation-name: example;
    animation-duration: 0.3s;
}

@keyframes example {
    0% {
        transform: scale(0.5)
    }
    100% {
        transform: scale(1)
    }
}

.carousel-item {
    transition: opacity 0.7s ease !important;
    position: absolute !important;
    display: block !important;
    opacity: 0;
}

.carousel-item.active {
    position: relative !important;
    opacity: 1;
}

.ps__rail-x {
    display: none !important;
}

.custom-control-label::before {border:1px solid #34c38f !important;}
.custom-control-input[disabled] .custom-control-label::before, .custom-control-input:disabled ~ .custom-control-label::before {background-color: #222736 !important; border:1px solid #5a6074 !important;}
.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #34c38f !important;
    background-color: #34c38f !important;
}
.custom-control-input[disabled]:hover .custom-control-label::before,.custom-control-input:hover:disabled ~ .custom-control-label::before {cursor: no-drop !important;}