<div class="container-fluid w3-animate-right">
    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box d-flex align-items-center justify-content-between">
                <h4 class="mb-0 font-size-18">Modeling</h4>
                <a href="javascript:void(0);" [routerLink]="['/cleanup']" title="back" class="back-btn">Back</a>
                <div class="page-title-right">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="card start-box ">
                <div class="card-body">
                    <div class="left-box ">
                        <div class="loader {{processclass}}">Loading...</div>
                        <button type="submit" class="btn btn-success" id="createExperiment" *ngIf="processclass=='stop'" (click)="smallModal(modelingmodal);">Start</button>
                        <button type="submit" class="btn btn-success" *ngIf="processclass=='start'" (click)="processclass='stop'">Stop</button>
                    </div>
                    <div class="right-box">
                        <div class="radio-group">
                            <div class="custom-control custom-radio mr-3">
                                <input type="radio" id="customRadio1" name="customRadio" (click)="model_type='Regression'" [checked]="model_type=='Regression'" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio1">Regression</label>
                            </div>
                            <div class="custom-control custom-radio ">
                                <input type="radio" id="customRadio2" name="customRadio" (click)="model_type='Classification'" [checked]="model_type=='Classification'" class="custom-control-input">
                                <label class="custom-control-label" for="customRadio2">Classification</label>
                            </div>
                        </div>
                        <h4 class="card-title mt-4 mb-3">Modeling Mode</h4>
                        <div class="box">
                            <span class="switcher switcher-1">
                                <input type="checkbox" id="switcher-1"
                                    (click)="LargeModal(largeModal,$event.target.checked)">
                                <label for="switcher-1"></label>
                            </span>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="card project-detail">
                <div class="card-body" *ngIf="datasetdata">
                    <div class="left">
                        <div class="line">
                            <label>Project</label>
                            <p>{{datasetdata.project_name}} </p>
                        </div>
                        <div class="line">
                            <label>Target Column</label>
                            <p class="target_column" *ngFor="let item of datasetdata.target_columns">{{item}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card project-detail">
                <div class="card-body">
                    <h4 class="card-title">Experiment Detail </h4>
                    <p class="mb-0">{{experiment_name}}</p>
                    <p class="mb-0">{{experiment_desc}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 model-detail-main">
            <h4 class="mb-4">Experiment List</h4>
            <ngx-skeleton-loader [hidden]="contentloaded" count="7" [animation]="animation" [theme]="theme">
            </ngx-skeleton-loader>
            <button type="button" class="btn btn-success comper-btn" [disabled]="!iscompare" (click)="compareExperiment(compareModal)">Comparison</button>
            <div class="right-detail-box">
                <span class="switcher switcher-1">
                    <input type="checkbox" id="switcher-1" value="true" (click)="changeDisplay()">
                    <label for="switcher-1"></label>
                </span>
            </div>
            <ul ngbNav #justifiednavnew="ngbNav" [activeId]="1" class="nav-pills nav-justified">
                <li [ngbNavItem]="1">
                    <a ngbNavLink>
                        <span class="d-block"><i class="fas fa-border-all"></i></span>
                    </a>
                    <ng-template ngbNavContent>

                        <perfect-scrollbar style="height:470px;" scrollable="yaxis">
                            <div class="row allexp" *ngIf="!isDisplayRunning && allExpList.length>0">
                                <div class="col-md-4" *ngFor="let item of allExpList;let i=index">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" [disabled]="item.status!='success'" (change)="setCopmareIds($event.target.checked,item.experiment_id)" id="customCheck_{{i}}">
                                                    <label class="custom-control-label" for="customCheck_{{i}}">{{item.experiment_name}}</label>
                                                </div> <span class="date-time">{{item.exp_created_on | date: 'MMM dd,
                                                    yyyy, hh:mm a'}}</span>
                                            </h4>
                                            <div class="model-status">
                                                <i *ngIf="item.status=='running'" title="{{item.status}}" style="color: #34c38f;" class="dripicons-browser-upload Blink"></i>
                                                <i *ngIf="item.status=='failed'" title="{{item.status}}" style="color: #f14646;" class="dripicons-browser-upload"></i>
                                                <i *ngIf="item.status=='pending'" title="{{item.status}}" style="color: #a6b0cf;" class="dripicons-browser-upload"></i>
                                                <i *ngIf="item.status=='success'" title="{{item.status}}" style="color: #3e6aec;" class="dripicons-browser-upload"></i>
                                            </div>
                                            <div class="model-type">
                                                <p>{{item.model_mode}}</p>
                                            </div>
                                            <div class="detail-line">
                                                <label>Model</label>
                                                <p>{{item.model_name}}</p>
                                            </div>
                                            <div class="detail-line">
                                                <label>Dataset</label>
                                                <p>{{item.dataset_name}}</p>
                                            </div>
                                            <div class="detail-line small-line">
                                                <label>Holdout</label>
                                                <p>{{item.holdout_score}}</p>
                                            </div>
                                            <div class="detail-line small-line">
                                                <label>Cross Validation</label>
                                                <p>{{item.cv_score}}</p>
                                            </div>
                                            <div class="text-right">
                                                <button class="btn btn-outline-success" [disabled]="item.status!='success'" (click)="extraLarge(exlargeModal,item)">View
                                                    Detail </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row allexp" *ngIf="!isDisplayRunning && allExpList.length==0">
                                <div class="ocean">
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                </div>
                            </div>

                            <div class="row runningexp" *ngIf="isDisplayRunning && runningExpList.length>0">
                                <div class="col-md-4" *ngFor="let item of runningExpList;let i=index">
                                    <div class="card">
                                        <div class="card-body">
                                            <h4 class="card-title mb-4">
                                                <div class="custom-control custom-checkbox">
                                                    <input type="checkbox" class="custom-control-input" (change)="setCopmareIds($event.target.checked,item.experiment_id)" id="customCheck_{{i}}">
                                                    <label class="custom-control-label" for="customCheck_{{i}}">{{item.experiment_name}}</label>
                                                </div> <span class="date-time">{{item.exp_created_on |
                                                    date:'short'}}</span>
                                            </h4>
                                            <div class="model-status">
                                                <i *ngIf="item.status=='running'" title="{{item.status}}" style="color: #34c38f;" class="dripicons-browser-upload Blink"></i>
                                                <i *ngIf="item.status=='failed'" title="{{item.status}}" style="color: #f14646;" class="dripicons-browser-upload"></i>
                                                <!-- <i *ngIf="item.status=='pending'" title="{{item.status}}" style="color: #a6b0cf;" class="dripicons-browser-upload"></i> -->
                                                <i *ngIf="item.status=='success'" title="{{item.status}}" style="color: #3e6aec;" class="dripicons-browser-upload"></i>
                                            </div>
                                            <div class="model-type">
                                                <p>{{item.model_mode}}</p>
                                            </div>
                                            <div class="detail-line">
                                                <label>Model</label>
                                                <p>{{item.model_name}}</p>
                                            </div>
                                            <div class="detail-line">
                                                <label>Dataset</label>
                                                <p>{{item.dataset_name}}</p>
                                            </div>
                                            <div class="detail-line small-line">
                                                <label>Holdout</label>
                                                <p>{{item.holdout_score}}</p>
                                            </div>
                                            <div class="detail-line small-line">
                                                <label>Cross Validation</label>
                                                <p>{{item.cv_score}}</p>
                                            </div>
                                            <div class="text-right">
                                                <button class="btn btn-outline-success" [disabled]="item.status!='success'" (click)="extraLarge(exlargeModal,item)">View
                                                    Detail </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row runningexp" *ngIf="isDisplayRunning && runningExpList.length==0">
                                <div class="ocean">
                                    <div class="wave"></div>
                                    <div class="wave"></div>
                                </div>
                            </div>
                        </perfect-scrollbar>
                    </ng-template>
                </li>
                <li [ngbNavItem]="2">
                    <a ngbNavLink>
                        <span class="d-block "><i class="fas fa-bars"></i></span>
                    </a>
                    <ng-template ngbNavContent>
                        <div class="row allexp" *ngIf="!isDisplayRunning">
                            <div class="col-md-12">
                                <div class="card list-view">
                                    <div class="card-body">
                                        <table datatable [dtOptions]="dtOptions" style="width: 100%;" class="table table-centered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Experiment</th>
                                                    <th class="model_desc">Model</th>
                                                    <th>Dataset</th>
                                                    <th>Modeling Type</th>
                                                    <th>Status</th>
                                                    <th>Cross Validation</th>
                                                    <th>Holdout</th>
                                                    <th>Start Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of allExpList;let i=index" id="tr_{{item.experiment_id}}">
                                                    <td>
                                                        <div class="custom-control custom-checkbox mb-3">
                                                            <!-- <input type="checkbox" class="custom-control-input" name="isprivate" id="customCheck_{{i}}"> -->
                                                            <input type="checkbox" class="custom-control-input" [disabled]="item.status!='success'" (change)="setCopmareIds($event.target.checked,item.experiment_id)" id="customCheck_{{i}}">

                                                            <label class="custom-control-label" for="customCheck_{{i}}"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" *ngIf="item.status=='success'" title="View Detail" (click)="extraLarge(exlargeModal,item)">{{item.experiment_name}}</a>
                                                        <a href="javascript:void(0);" *ngIf="item.status!='success'" class="disabled" title="View Detail">{{item.experiment_name}}</a>
                                                    </td>
                                                    <td class="model_desc">
                                                        <p>{{item.model_name}}</p>
                                                    </td>
                                                    <td>{{item.dataset_name}}</td>
                                                    <td>{{item.model_mode}}</td>
                                                    <td>
                                                        <i *ngIf="item.status=='running'" title="{{item.status}}" style="color: #34c38f;" class="dripicons-browser-upload Blink"></i>
                                                        <i *ngIf="item.status=='failed'" title="{{item.status}}" style="color: #f14646;" class="dripicons-browser-upload"></i>
                                                        <!-- <i *ngIf="item.status=='pending'" title="{{item.status}}" style="color: #a6b0cf;" class="dripicons-browser-upload"></i> -->
                                                        <i *ngIf="item.status=='success'" title="{{item.status}}" style="color: #3e6aec;" class="dripicons-browser-upload"></i>
                                                    </td>
                                                    <td>{{item.cv_score}}</td>
                                                    <td>{{item.holdout_score}}</td>
                                                    <td>{{item.exp_created_on | date:'short'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row runningexp" *ngIf="isDisplayRunning">
                            <div class="col-md-12">
                                <div class="card list-view">
                                    <div class="card-body">
                                        <table datatable [dtOptions]="dtOptions" style="width: 100%;" class="table table-centered">
                                            <thead>
                                                <tr>
                                                    <th></th>
                                                    <th>Experiment</th>
                                                    <th class="model_desc">Model</th>
                                                    <th>Dataset</th>
                                                    <th>Modeling Type</th>
                                                    <th>Status</th>
                                                    <th>Cross Validation</th>
                                                    <th>Holdout</th>
                                                    <th>Start Date</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr *ngFor="let item of runningExpList;let i=index" id="tr_{{item.experiment_id}}">
                                                    <td>
                                                        <div class="custom-control custom-checkbox mb-3">
                                                            <!-- <input type="checkbox" class="custom-control-input" name="isprivate" id="customCheck_{{i}}"> -->
                                                            <input type="checkbox" class="custom-control-input" [disabled]="item.status!='success'" (change)="setCopmareIds($event.target.checked,item.experiment_id)" id="customCheck_{{i}}">
                                                            <label class="custom-control-label" for="customCheck_{{i}}"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <a href="javascript:void(0);" *nfIf="item.status=='success'" title="View Detail" (click)="extraLarge(exlargeModal,item)">{{item.experiment_name}}</a>
                                                        <a href="javascript:void(0);" *ngIf="item.status!='success'" class="disabled" title="View Detail">{{item.experiment_name}}</a>

                                                    </td>
                                                    <td class="model_desc">
                                                        <p>{{item.model_name}}</p>
                                                    </td>
                                                    <td>{{item.dataset_name}}</td>
                                                    <td>{{item.model_mode}}</td>
                                                    <td>
                                                        <i *ngIf="item.status=='running'" title="{{item.status}}" style="color: #34c38f;" class="dripicons-browser-upload Blink"></i>
                                                        <i *ngIf="item.status=='error'" title="{{item.status}}" style="color: #f14646;" class="dripicons-browser-upload"></i>
                                                        <i *ngIf="item.status=='pending'" title="{{item.status}}" style="color: #a6b0cf;" class="dripicons-browser-upload"></i>
                                                        <i *ngIf="item.status=='completed'" title="{{item.status}}" style="color: #3e6aec;" class="dripicons-browser-upload"></i>
                                                    </td>
                                                    <td>{{item.cv_score}}</td>
                                                    <td>{{item.holdout_score}}</td>
                                                    <td>{{item.exp_created_on | date:'short'}}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="justifiednavnew" [hidden]="!contentloaded"></div>
        </div>
    </div>
    <button class="btn btn-outline-success openmodal" hidden (click)="ProjectData(projectModal)">View
        Detail </button>
</div>

<ng-template #exlargeModal let-modal class="model-detail">
    <div class="modal-header">
        <h5> {{modeltitle}}</h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body statistics">
        <app-modeling-view-detail [experiment_id]="current_experiment_id" [model_type]="current_model_type">
        </app-modeling-view-detail>
    </div>
</ng-template>

<ng-template #modelingmodal let-modal class="modeling-modal">
    <div class="modal-header">
        <h5 class="modal-title mt-0">Create Experiment</h5>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')" aria-hidden="true">×</button>
    </div>
    <div class="modal-body">
        <form #f="ngForm">
            <div class="form-group">
                <label for="example-text-input" class="col-form-label">Experiment Name<span
                        class="required-label">&nbsp;*</span></label>
                <input class="form-control" required type="text" [(ngModel)]="params.experiment_name" (change)="checkexperimentname($event)" name="experiment_name" #experiment_name="ngModel" maxlength="200">
                <div class="invalid-feedback" *ngIf="experiment_name.errors?.required && (experiment_name.dirty || experiment_name.touched)">
                    <span *ngIf="experiment_name.errors?.required && (experiment_name.dirty || experiment_name.touched)" class="text-red">Please enter experiment name</span>
                </div>
                <div class="invalid-feedback" *ngIf="!checkuniuqename && !experiment_name.errors">
                    <span class="text-red">Experiment name already exist</span>
                </div>
            </div>
            <div class="form-group">
                <label for="example-text-input" class="col-form-label">Experiment Description<span
                        class="required-label">&nbsp;*</span></label>
                <textarea class="form-control" maxlength="500" [(ngModel)]="params.experiment_desc" name="experiment_desc" #experiment_desc="ngModel" required></textarea>
                <div class="invalid-feedback" *ngIf="experiment_desc.errors?.required && (experiment_desc.dirty || experiment_desc.touched)">
                    <span *ngIf="experiment_desc.errors?.required && (experiment_desc.dirty || experiment_desc.touched)" class="text-red">Please enter description</span>
                </div>
            </div>
            <div class="button-items text-center">
                <button class="btn btn-success" [disabled]="!f.form.valid || !checkuniuqename" (click)="startModel()">Start</button>
            </div>
        </form>
    </div>
</ng-template>

<ng-template #largeModal let-modal>
    <div class="modal-header">
        <h5> Manual Modeling </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body manul-modeling">
        <form #m="ngForm">
            <!-- [hidden]="contentid!=1" -->
            <div class="row content-1">
                <div class="col-md-12">
                    <h4 class="font-size-18 mt-3 mb-3">Select model</h4>
                    <div class="form-group">
                        <label>Select model</label>
                        <select class="form-control" (change)="getHyperParams($event)" name="algorithm" [required]>
                        <option value=""> Select </option>
                        <option value="{{item.model_id}}"
                            *ngFor="let item of algorithmlist;let i=index">{{item.model_name}}</option>
                    </select>
                    </div>
                </div>
                <div class="col-md-12" *ngIf="paramsList!=undefined">
                    <h4 class="font-size-18 mt-3 mb-3" *ngIf="paramsList[0].param_name!=''">Hyperparameter</h4>
                </div>
                <div class="col-md-6" *ngFor="let item of paramsList">
                    <div class="form-group" *ngIf="item.param_name!=''">
                        <label>{{item.param_name}} <span class="required-label">&nbsp;*</span></label>

                        <input type="text" class="form-control hyperparamsinput" name="{{item.param_name}}" id="txt_{{item.param_name}}" [required] *ngIf="item.display_type =='validation'">
                        <input type="text" class="form-control hyperparamsinput" name="{{item.param_name}}" id="txt_{{item.param_name}}" [required] *ngIf="item.display_type == ''">
                        <select class="form-control hyperparamsinput" name="{{item.param_name}}" id="txt_{{item.param_name}}" [required] *ngIf="item.display_type=='dropdown'">
                        <option value="">select</option>
                        <option value="{{childitem}}" *ngFor="let childitem of item.param_value">
                            {{childitem}}
                        </option>
                    </select>
                    </div>
                </div>
                <div class="col-md-12 text-center mb-4 mt-3">
                    <button class="btn btn-success" type="submit" (click)="nextValidate()">Start</button>
                </div>

            </div>
        </form>
        <!-- <form #f="ngForm">
            <div class="row content-2" [hidden]="contentid!=2">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="example-text-input" class="col-form-label">Experiment Name<span
                            class="required-label">&nbsp;*</span></label>
                        <input class="form-control" required type="text" [(ngModel)]="params.experiment_name" (change)="checkexperimentname($event)" name="experiment_name" #experiment_name="ngModel" maxlength="200">
                        <div class="invalid-feedback" *ngIf="experiment_name.errors?.required && (experiment_name.dirty || experiment_name.touched)">
                            <span *ngIf="experiment_name.errors?.required && (experiment_name.dirty || experiment_name.touched)" class="text-red">Please enter experiment name</span>
                        </div>
                        <div class="invalid-feedback" *ngIf="!checkuniuqename && !experiment_name.errors">
                            <span class="text-red">Experiment name already exist</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="example-text-input" class="col-form-label">Experiment Description<span
                            class="required-label">&nbsp;*</span></label>
                        <textarea class="form-control" maxlength="500" [(ngModel)]="params.experiment_desc" name="experiment_desc" #experiment_desc="ngModel" required></textarea>
                        <div class="invalid-feedback" *ngIf="experiment_desc.errors?.required && (experiment_desc.dirty || experiment_desc.touched)">
                            <span *ngIf="experiment_desc.errors?.required && (experiment_desc.dirty || experiment_desc.touched)" class="text-red">Please enter description</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-12">
                    <div class="text-center mb-4">
                        <button class="btn btn-success mr-3" type="submit" (click)="showContent(1)">Previous</button>
                        <button class="btn btn-success" [disabled]="!f.form.valid || !checkuniuqename" (click)="startModel('Manual')">Start</button>
                    </div>
                </div>
            </div>
        </form> -->
    </div>
</ng-template>

<ng-template #compareModal let-modal>
    <div class="modal-header">
        <h5> Model Name </h5>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body compare-model">
        <ul ngbNav #justifiednavcompare="ngbNav" [activeId]="1" class="nav-pills nav-justified nav">
            <li [ngbNavItem]="1">
                <a ngbNavLink>
                    <span class="font-size-18"><i class="bx bx-line-chart"></i></span>
                </a>
                <ng-template ngbNavContent>
                    <div class="row">
                        <div class="col-md-12">
                            <h4>Actual vs Prediction</h4>

                            <apx-chart class="apex-charts" dir="ltr" [series]="lineColumAreaChart.series" [chart]="lineColumAreaChart.chart" [tooltip]="lineColumAreaChart.tooltip" [yaxis]="lineColumAreaChart.yaxis" [legend]="lineColumAreaChart.legend" [plotOptions]="lineColumAreaChart.plotOptions"
                                [grid]="lineColumAreaChart.grid" [stroke]="lineColumAreaChart.stroke" [xaxis]="lineColumAreaChart.xaxis" [colors]="lineColumAreaChart.colors" [fill]="lineColumAreaChart.fill" [labels]="lineColumAreaChart.labels" [markers]="lineColumAreaChart.markers">
                            </apx-chart>
                        </div>
                        <!-- <div class="col-md-12">
                            <h4>Accuracy</h4>
                            <apx-chart class="apex-charts" dir="ltr" [series]="lineColumAreaChart.series" [chart]="lineColumAreaChart.chart" [tooltip]="lineColumAreaChart.tooltip" [yaxis]="lineColumAreaChart.yaxis" [legend]="lineColumAreaChart.legend" [plotOptions]="lineColumAreaChart.plotOptions"
                                [grid]="lineColumAreaChart.grid" [stroke]="lineColumAreaChart.stroke" [xaxis]="lineColumAreaChart.xaxis" [colors]="lineColumAreaChart.colors" [fill]="lineColumAreaChart.fill" [labels]="lineColumAreaChart.labels" [markers]="lineColumAreaChart.markers">
                            </apx-chart>
                        </div> -->
                    </div>
                </ng-template>
            </li>
            <li [ngbNavItem]="2">
                <a ngbNavLink>
                    <span class="font-size-18"><i class="bx bx-spreadsheet"></i></span>
                </a>
                <ng-template ngbNavContent>
                    <perfect-scrollbar style="height:470px;" scrollable="yaxis">
                        <div class="detail-compare" *ngIf="comparedata">
                            <div class="box title-box">
                                <ul>
                                    <li>Experiment Fields</li>
                                    <li *ngFor="let item of comparedata.column_names" [hidden]="item=='experiment_name'">{{item}}</li>

                                </ul>
                            </div>
                            <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
                                <div class="box box-one example-box" *ngFor="let item of comparedata.responsedata" cdkDrag>
                                    <ul>
                                        <li class="name">{{item.experiment_name}} <a href="javascript:void(0)" title="Remove"><i
                                                class="mdi mdi-close"></i></a></li>
                                        <li *ngFor="let i of comparedata.column_names" [hidden]="i=='experiment_name'">{{item[i]}}</li>

                                    </ul>
                                </div>
                            </div>

                        </div>
                    </perfect-scrollbar>
                </ng-template>
            </li>
        </ul>
        <div class="experiment-list" *ngIf="comparedata">
            <div class="expe-name" *ngFor="let item of comparedata.responsedata">
                <p>{{item.experiment_name}} <a href="javascript:void(0)" title="Remove" *ngIf="compareIds.length>2"><i class="mdi mdi-close"></i></a></p>
            </div>
        </div>
        <div [ngbNavOutlet]="justifiednavcompare"></div>
    </div>
</ng-template>

<ng-template #projectModal let-modal>
    <div class="modal-header">
        <h5> Projects </h5>
        <!-- <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Close click')">
            <span aria-hidden="true">&times;</span>
        </button> -->
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="form-group">
                    <label>Select Project</label>
                    <select class="form-control" (change)="setproject($event.target.value)">
                        <option value="">select</option>

                        <option value="{{item.project_id}}" *ngFor="let item of projectList">{{item.project_name}}</option>
                    </select>
                </div>
            </div>

            <div class="col-md-12">
                <div class="text-center mb-4">
                    <button class="btn btn-success" type="submit" [disabled]="!isEnableModeling" (click)="setModeling()">Next</button>
                </div>
            </div>
        </div>
    </div>
</ng-template>